.git
.idea
node_modules
nbproject

# npm package files
iobroker.*.tgz

Thumbs.db

# i18n intermediate files
admin/i18n/flat.txt
src-widgets/.__mf__temp
src-widgets/build
src-widgets/node_modules
src-preview/build
src-preview/node_modules
src-editor/build
src-editor/node_modules
src-chart/build
src-chart/node_modules
admin/i18n/*/flat.txt
/iob_npm.done
/src-chart/old
/_helpers
tmp
/image.png
package-lock.json

#ignore .commitinfo created by ioBroker release script
.commitinfo
