html {
    width: 100%;
    height: 100%;
}

#root {
    width: 100%;
    height: 100%;
}

.layout-pane-primary {
    height: 100%;
}

.no-underline:before {
    border-bottom: 0 !important;
}

.iobVerticalSplitter .layout-pane-primary {
    overflow: hidden;
}

.react-beautiful-dnd-copy ~ .drag-items {
    transform: none !important;
}
.react-beautiful-dnd-copy ~ [data-rbd-placeholder-context-id] {
    display: none !important;
}
